
<h1>Bowling Green</h1>
<h2><a href="#/bowlinggreen/gallery">Gallery</a></h2>
<h4>Mixed use building in Madrona at 3310 East Spring.</h4>
<h5>Completed August 2003. Developer/Owner Bowling Green LLC, an affiliate of The Madrona Company</h5>
<h3>Ammenities</h3>
<ul>
    <li>Large windows, light and airy</li>
    <li>Window screens</li>
    <li>Smooth finish sheetrock</li>
    <li>Maple laminate flooring in living rooms</li>
    <li>High quality commercial grade carpets in bedrooms</li>
    <li>metal shelving</li>
    <li>Washer/Dryers in each unit</li>
    <li>Community roof deck, with lake and mountain views</li>
    <li>Community BBQ</li>
    <li>10 minutes to downtown</li>
    <li>Metro routes 2 and 3</li>
    <li>Across from Madrona Park and tennis courts</li>
    <li>Great neighborhood restaurants</li>
    <li>Close to Lake Washington</li>
    <li>Non-smoking building</li>
    <li>Cats ok, subject to approval, sorry no dogs.</li>
    <li>Storage lockers available</li>
    <li>Secure bike storage</li>
    <li>Underground parking garage</li>
</ul>