<div class="row" id='homeCards'>
    <div class="[ col-sm-6 col-md-offset-2 col-md-4 ]" ng-click='HC.show("m")'>
        <div class='[ info-card ]'>
            <div class="overlay">
                <img style="width: 100%" src="static/img/MCLogo.png" />
            </div>
                <div class="[ info-card-details ] animate">
                    <div class="[ info-card-header ]">
                        <h1>Madrona Company</h1>
                        <h3>Architechture/Property Development</h3>
                    </div>
                </div>
            
        </div>
        
    </div>
    <div class="[ col-sm-6 col-md-4 ]" ng-click='HC.show("b")'>
        <div class="[ info-card ]">
            <div class="overlay">
                <img style="width: 100%" src="static/img/BGLogo.png" />
            </div>
            <div class="[ info-card-details ] animate">
                <div class="[ info-card-header ]">
                    <h1>Bowling Green</h1>
                    <h3>Apartment Rentals</h3>
                </div>
            </div>
        </div>
    </div>
</div>
