<div class="madCo">
    <h1>Completed Projects</h1>
    <div class="row" id='madCoCards'>
        <div class="[ col-sm-6 col-md-offset-2 col-md-4 ]" ng-click='HC.show("sg")'>
            <div class="[ info-card ]">
                <img style="width: 100%" src="static/img/sg.png" />
                <div class="[ info-card-details ] animate">
                    <div class="[ info-card-header ]">
                        <h1>Secret Garden</h1>
                        <h3>East Thomas/11th Ave East Seattle, WA 98102</h3>
                    </div>
                    <div class="[ info-card-detail ]">
                        <!-- Description -->
                        <p>SECRET GARDEN INFO SECRET GARDEN INFO SECRET GARDEN INFO SECRET GARDEN INFO SECRET GARDEN INFO SECRET GARDEN INFO SECRET GARDEN INFO SECRET GARDEN INFO </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="[ col-sm-6 col-md-offset-2 col-md-4 ]" ng-click='HC.show("mil")'>
            <div class="[ info-card ]">
                <img style="width: 100%" src="static/img/mm.png" />
                <div class="[ info-card-details ] animate">
                    <div class="[ info-card-header ]">
                        <h1>Miller Mews</h1>
                        <h3>1815A-1821B 20th. Avenue Seattle, WA 98122  </h3>
                    </div>
                    <div class="[ info-card-detail ]">
                        <!-- Description -->
                        <p>MILLER MEWS INFO MILLER MEWS INFO MILLER MEWS INFO MILLER MEWS INFO MILLER MEWS INFO MILLER MEWS INFO MILLER MEWS INFO MILLER MEWS INFO </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="[ col-sm-6 col-md-offset-2 col-md-4 ]" ng-click='HC.show("yes")'>
            <div class="[ info-card ]">
                <img style="width: 100%" src="static/img/yesler.png" />
                <div class="[ info-card-details ] animate">
                    <div class="[ info-card-header ]">
                        <h1>Yesler Mews</h1>
                        <h3>112 to 118 22nd Ave Seattle, WA 98122</h3>
                    </div>
                    <div class="[ info-card-detail ]">
                        <!-- Description -->
                        <p>YESLER MEWS INFO YESLER MEWS INFO YESLER MEWS INFO YESLER MEWS INFO YESLER MEWS INFO YESLER MEWS INFO YESLER MEWS INFO YESLER MEWS INFO </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="[ col-sm-6 col-md-offset-2 col-md-4 ]" ng-click='HC.show("tem")'>
            <div class="[ info-card ]">
                <img style="width: 100%" src="static/img/tempus.png" />
                <div class="[ info-card-details ] animate">
                    <div class="[ info-card-header ]">
                        <h1>Tempus Frugit</h1>
                        <h3>2501/2505/2507/2511 East John Seattle, WA 98112</h3>
                    </div>
                    <div class="[ info-card-detail ]">
                        <!-- Description -->
                        <p>TEMPUS INFO TEMPUS INFO TEMPUS INFO TEMPUS INFO TEMPUS INFO TEMPUS INFO TEMPUS INFO TEMPUS INFO </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="[ col-sm-6 col-md-offset-2 col-md-4 ]" ng-click='HC.show("mar")'>
            <div class="[ info-card ]">
                <img style="width: 100%" src="static/img/marion3.jpg" />
                <div class="[ info-card-details ] animate">
                    <div class="[ info-card-header ]">
                        <h1>Marion Mews</h1>
                        <h3>818/820/822 15th. Avenue Seattle, WA 98122</h3>
                    </div>
                    <div class="[ info-card-detail ]">
                        <!-- Description -->
                        <p>MARION MEWS INFO MARION MEWS INFO MARION MEWS INFO MARION MEWS INFO MARION MEWS INFO MARION MEWS INFO MARION MEWS INFO MARION MEWS INFO </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
