<h1>Marion Mews</h1>
<h4>818/820/822 15th. Avenue
Seattle, WA 98122</h4>
<h5>Three townhouses each with 2 bedrooms/1 bathroom and large loft
South Capitol Hill between Columbia and Marion
Completed 1999</h5>
<div id="slides_control">
    <div>
        <carousel interval="HC.myInterval">
            <slide ng-repeat="slide in HC.mar_slides" active="slide.active">
                <div id='imgDiv'>
                    <img class='caroImg' ng-src="{{slide.image}}">
                        <!--<div class="carousel-caption">
                        <h4>Slide {{$index+1}}</h4>
                    </div>-->
                </div>
            </slide>
        </carousel>
    </div>
</div>