<div id='sgDiv'>
    <h1>Secret Garden</h1>

    <p>Large zero lot line townhouse available in the Secret Garden community of 15 townhouses, surrounding a courtyard garden on Capitol Hill.  2bedroom/2bath plus study, 1405 square feet.  Two blocks from Broadway in quiet,residential neighborhood.  Great community and close to everything. Walk to downtown.  Built in 2005 by The Madrona Company.</p>

    <h3>Features</h3>
    <ul>
        <li>stained concrete floors</li>
        <li>stainless appliances</li>
        <li>Hardiplank exterior</li>
        <li>butcher block countertops</li>
        <li>secure parking</li>
        <li>gas fire and stove</li>
        <li>commercial grade Berber carpet in bedrooms and stairway</li>
    </ul>
    <p>current annual taxes: $3,559</p>
    <p>monthly homeowners dues: $43</p>
    <h3>Plans</h3>
    <img ng-click='HC.open(0)' src="static/img/sg/sg_siteplan_01.jpg" alt="siteplan_01" class="img-thumbnail">
    <img ng-click='HC.open(1)' src="static/img/sg/sg_siteplan_02.jpg" alt="siteplan_02" class="img-thumbnail">
</div>