<div id='sgDiv'>
  <h1>Secret Garden</h1>
  <div id="slides_control">
    <div>
      <carousel interval="HC.myInterval">
        <slide ng-repeat="slide in HC.sg_slides" active="slide.active">
          <div id='imgDiv'>
            <img class='caroImg' ng-src="{{slide.image}}">
            <!--<div class="carousel-caption">
              <h4>Slide {{$index+1}}</h4>
            </div>-->
          </div>
        </slide>
      </carousel>
    </div>
  </div>
  <h2>East Thomas/11th.Ave East</h2>   
  <h2>Seattle, WA 98102</h2>
  <h3>15 zero lot line townhouses; completed 2005</h3>
  <h3>offered at $549,500</h3>
  <button class='btn btn-primary' ng-click="HC.details()">More Details</button>
</div>