<h1>Yesler Mews</h1>
<h4>112 to 118 22nd Ave Seattle, WA 98122</h4>
<h5>10 condominiums, 8 townhouses & 2 carriage houses
townhouses with 2beds/1bath & 
carriage houses with loft/1bath
each approx 850 square feet
completed 2001</h5>
<div id="slides_control">
    <div>
        <carousel interval="HC.myInterval">
            <slide ng-repeat="slide in HC.yes_slides" active="slide.active">
                <div id='imgDiv'>
                    <img class='caroImg' ng-src="{{slide.image}}">
                        <div class="carousel-caption">
                        <h4>Slide {{$index+1}}</h4>
                    </div>
                </div>
            </slide>
        </carousel>
    </div>
</div>